/* $template: light || dark; */
$carattere:Poppins;
$colore-chiaro:#fff;
$colore-scuro:#333;
$colore-grigio:grey;
$colore-primario:#006fdd; 
$colore-primario-scuro:#003c77;
$colore-secondario:#00bdff;
$colore-secondario-scuro:#00688c;